@import ".../../..//../component/utilities/colors.scss";

.expand-more-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: $backgroundcolor;
}

.expand-more {
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem;
    gap: 8rem;
}

.expand-more-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.expand-more-item {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}