@import "../../component/utilities/mixin.scss";

.image-directive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    @include medium3 {
        width: 42rem;
    }

    @include small2 {
        width: 35rem;
    }

    @include small3 {
        width: 0;
    }
}