@import "../../component/utilities/colors.scss";
@import "../../component/utilities/box-shadow.scss";

.view-idea-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999999767899799;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    &-content {
        display: flex;
        width: 80rem;
        background-color: $Color-White;
        height: 35rem;
        border-radius: 10px;
        box-shadow: $Box-Shadow-dark;
        animation: scaleAnimation 1s ease-in-out;
        overflow: hidden;
    }

    &-image {
        height: 100%;
        width: 19rem;
        position: relative;
        background-position: center;
        background-size: cover;

    }

    &-field {
        position: absolute;
        left: 60%;
        top: 50%;
        color: $Color-White;
        width: 100%;
        transform: translate(-50%, -60%);
        padding: 1rem;

        &-text {
            font-size: 1.4rem;
        }
    }

    &-detail {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        justify-content: space-between;
    }

    &-main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &-text {
        font-size: 1rem;
        color: $Color-bg;
    }

    &-heading {
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: capitalize;
    }

    &-paragraph {
        font-size: 1rem;
        line-height: 1.4;
        word-spacing: 1px;
        letter-spacing: 1px;
        text-align: justify;
        line-break: strict;
        word-wrap: break-word;
    }

    &-button {
        background-color: $Color-Primary;
        color: $Color-White;
        border: 0;
        padding: 0.8rem 2.5rem;
        font-size: 1.1rem;
        align-self: flex-end;
        border-radius: 1.5rem;

        &-disable {
            color: $Color-Dark-Grey;
            background-color: $Color-Light-Grey;
            border: 0;
            padding: 0.8rem 2.5rem;
            font-size: 1.1rem;
            align-self: flex-end;
            border-radius: 1.5rem;
        }

        &:hover {
            color: $Color-Primary;
            background-color: transparent;
            border: 1px solid $Color-Primary;
        }
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}