$Color-Black: #353535;
$Color-White: #ffffff;
$Color-Light-Grey: #e8e8e8e0;
$Color-Grey: #c6c6c6;
$Color-Dark-Grey: #868686;
$Color-Primary: #284b63;
$Color-Secondary: #3c6e71;
$Color-Blue: #138fc5;
$Color-bg: #54d9e8;
$backgroundcolor: whitesmoke;
$light-blue: #edf2fb;
$button-hover: #062c45;