@import "../../../component/utilities/colors.scss";
@import "../../../component/utilities/box-shadow.scss";

.deadline-announcement-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
    height: 100%;
}

.deadline-announcement-content {
    display: flex;
    flex-direction: column;
    background-color: $Color-White;
    height: 100%;
    gap: 2rem;
    padding: 3rem;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 10px;
        height: 8px;

    }

    &::-webkit-scrollbar-track {
        background-color: $Color-Light-Grey;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $Color-Grey;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $Color-Dark-Grey;

    }

}

.deadline-announcement {
    display: flex;
    padding: 1rem;
    background-color: $Color-Light-Grey;
    border-radius: 8px;
    box-shadow: $dashboard-card-box-shawdow;

    .announcement-icon {
        flex: 0 0 auto;
        font-size: 24px;
        color: $Color-Blue;
    }

    .announcement-content {
        flex: 1 1 auto;

        &-heading {
            font-size: 18px;
            margin-bottom: 0.5rem;
        }

        &-paragraph {
            margin: 0.25rem 0;
        }


        .deadline {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            .deadline-label {
                font-weight: bold;
                margin-right: 0.5rem;
            }

            .deadline-date {
                font-weight: bold;
                color: $Color-bg;
            }
        }
    }
}