@import "../../component/utilities/colors.scss";

.form-title-heading {
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-size: 1.5rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-transform: uppercase;


}

.form-title-icon {
    font-size: 1.4rem;
    color: $Color-Secondary;
}